.neko{
  width: 100px;
  height: 100px;
}
body{
  background-color: black;
  margin: 0;
  padding: 0;
}
.picture{
  height: 500px;
  margin-left: 240px;
}
}
.page-header{
  margin-top: 0;
  margin-left: 0;
  height: 170px;
  background-color: rgba(0, 0, 0);
  margin-left: 60px;
  padding-top: 0;
}
.shopname{
  display: inline;
  margin-left: 10px;
  color: white;
  font-size: 140px;
  font-family: Arial Black, Gadget, sans-serif;
  text-decoration: none;
}
.kanji{
  display: inline;
  color: white;
}
.product-text{
  color: white;
  font-size: 39px;
  display: flow-root;
  text-align: center;
  margin-left: 100px;
  padding-top: 0;
  font-family: Comic Sans MS, cursive;
}
.text{
  color:white;
  font-size: 60px;
}
.fast-pay{
  height: 80px;
  margin-left: 636px;
}
.paypal{
  padding-left: 20px;
  margin-bottom: 10px;
  display: inline-block;
}
.googlepay{
  padding-left: 20px;
  display: inline-block;
}
.purchase-text{
  color:white;
  font-size: 20px;
}
.footer{
  height: 138px;
  background-color: #FFB6C1;
}
.footer-author{
  color: white;
  font-size: 20px;
  padding-top: 20px;
}
.contacts{
  color: white;
  font-size: 11px;
  padding-top: 0;
}
.or{
  color: white;
  font-size: 50px;
  text-align: center;
}
.oplata-block{
  margin-left: 650px;
  border: solid 4px rgba(255, 255, 255);
  margin-right: 630px;
  margin-bottom: 40px;
}
a.button {
  display: inline-block;
  background: #FFF;
  color: #696969;
  padding: 12px;
  border-radius: 3px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 40px;
  line-height: 1;
  font-weight: 100;
}
